<H2>OrigaMIT Convention 2014</H2>
</a>
<div class="alert alert-success" role="alert">The next OrigaMIT Convention will be held on <b>Saturday, Nov. 15th, 2015</b>; more information will be coming in summer 2015. Meanwhile, information about our 2014 convention is available below.</div>
<p>
OrigaMIT will be holding its <i>fourth</i> annual origami convention on Saturday, Nov. 8th, 2014 on MIT's campus! 
</p>
<p>
<b>What do you do at an origami convention? </b>
</p>
<ul>
<li>Take classes on how to fold specific origami models
<li>Browse a high quality origami exhibition
<li>Purchase origami paper and books
<li>Have fun and fold paper! 
</ul>
<p style="text-align:justify">
The convention is open to <i>anyone</i> who would like to participate! 
Registration cost for this convention will be $20, which is quite cheap in comparison to other origami conventions. 
MIT students can register at a discounted rate of $5 due to support from the MIT Undergraduate Association. 
In order to cover the costs of lateness and to encourage early registration, 
registration will raise to $30 on Nov. 6th, so register early! 
<a href="#registration"><b>The registration form is at the bottom of this page</b></a>. 
Unfortunately, we cannot accept payment for anything online; please bring cash or Techcash to pay at convention check in!
</p>
<a name="day_of">
<h3>Day of Convention</h3>
</a>
<p style="text-align:justify">
This year, all convention activities will occur in the same building, the MIT Student Center.
Registration will start at 9am on the second floor in room <a href="http://whereis.mit.edu/?q=W20-208">W20-208</a>.
This room is MIT's Lobdell Dining Hall that can comfortably hold over 250 people and 
will serve as the main headquarters at convention. 
In the morning, please check in at our registration desk in W20-208. There you will:
<ul>
<li> Check in
<li> Pay your registration fee
<li> Get some paper, info, map, and schedule
<li> Make a name tag
<li> Order/pay for <a href="#food">lunch or dinner</a>
</ul>
Afterwards, you can hang out and fold, check out things to buy at <a href="#vending">vending</a>, or peruse our 
<a href="#exhibition">exhibition</a>, all of which will be available in W20-208. 
The map below indicates all the rooms that we will be using for our convention. 
You will be given a printed copy of 
<!-- a campus map at registration. -->
<a href="convention/conv14/images/conv14_map.pdf">this map</a> at registration.
</p>
<p style="text-align:justify">
For those coming in from out of town, there are a number of 
<a href="http://www.booking.com/searchresults.en-gb.html?aid=314920;label=mit-Q3Tgh%2ApNwFsqKbJRB9rjnAS3505105558%3Apl%3Ata%3Ap1%3Ap2%3Aac%3Aap1t3%3Aneg;sid=637003e21053b919e92f55d1470c6504;dcid=1;ac_pageview_id=10da25935fdb0016;checkin_monthday=26;checkin_year_month=2012-10;checkout_monthday=28;checkout_year_month=2012-10;class_interval=1;csflt=%7B%7D;dest_id=16467;dest_type=landmark;inac=0;landmark=16467;latitude=42.3598;longitude=-71.092;radius=5;redirected_from_city=0;redirected_from_landmark=0;review_score_group=empty;si=ai%2Cco%2Cci%2Cre%2Cdi;ss=Massachusetts%20Institute%20of%20Technology;ss_all=0;ssb=empty;ssne=Massachusetts%20Institute%20of%20Technology;ssne_untouched=Massachusetts%20Institute%20of%20Technology;order=price#"> 
hostels and hotels</a> in the area, but book soon; rooms in Boston book quickly!
For those driving in, there is lots of free parking around MIT's campus, but there can be many events
on campus during the weekend, and it may be difficult to find parking.
Please refer to the guidelines on MIT's <a href="http://web.mit.edu/facilities/transportation/parking/index.html">Parking Page</a>
for more information about MIT parking regulations and locations. There is also 
metered parking on the street that is free on the weekends.
</p>
<a href="convention/conv14/images/conv14_map.pdf">
<img src="convention/conv14/images/conv14_map.png" width="900"/>
</a>
<a name="classes">
<h3>Classes</h3>
</a>
<p style="text-align:justify">
Classes and lectures will be available to convention attendees over the course of the day.
We have 38 classes and 6 lectures currently scheduled. 
<!-- The class schedule will be available here by Friday, Nov. 1st.
We have 35 classes and 3 lectures currently scheduled. You can find more information about these classes 
<a href="http://origamit.scripts.mit.edu/conv_info13.php">here</a>.
-->
Classes will range in difficulty from simple, low through high intermediate, to complex; beginners and veterans alike will find classes to satisfy their curiosity! 
<!--
We are still looking for some more classes, so if you'd like to teach, 
please let us know at <a href="mailto:origamit-teach@mit.edu">origamit-teach@mit.edu</a>.
-->
A tentative convention schedule is shown below. 
Class schedule is subject to change.
</p>
<!--
<iframe width='915' height='590' frameborder='0' src='https://docs.google.com/spreadsheet/pub?key=0Ag3FWIzreqfXdFk3aS1ud2cxM2I2N0xhckIxVkRwV3c&single=true&gid=1&output=html&widget=true'></iframe>
-->
<iframe width="915" height="590" frameborder="0" src="https://docs.google.com/spreadsheet/pub?key=0Ag3FWIzreqfXdDQtMmJRTVk1aUNRUUpLUjdueGtBWFE&single=true&gid=1&output=html&widget=true"></iframe>
<p style="text-align:justify">
There will be no ticketing for classes; admittance will be based on a first come first serve basis, 
so please be flexible to make sure there is space for everyone. 
As is customary at MIT, each class will start 5 minutes past the hour and end 5 minutes before the hour. Please arrive on time! 
Also, please don't get in over your head! If you've never been to an origami convention before, 
<a href="http://www.origami-usa.org/etiquette">this</a> OrigamiUSA document on 
classroom etiquette is a useful read.
</p>
<!--
<p style="text-align:center">
<a href="http://origamit.scripts.mit.edu/conv_info13.php">Photos and descriptions of the models being taught</a>
</p>
-->
<a name="guests">
<h3>Special Guests!</h3>
</a>
<p>
This year, we are excited to have two special guests attending convention: 
<a href="http://shadowfolds.com/" target="_blank">Chris Palmer</a> 
and 
<a href="http://www.origami.as/home.html" target="_blank">Joseph Wu</a>
! 
</p>
<!-- <h3>Guest</h3>
<p>
(Bio text here)
</p>
-->
<p>
Some other famous origami artists and designers that have attended this convention in past years are:
</p>
<p align="center">
<a href="http://web.mit.edu/chosetec/www/origami/">Brian Chan</a>
* <a href="http://erikdemaine.org/">Erik Demaine</a>
* <a href="http://www.flickr.com/photos/inqorigami/">Seth Friedman</a>
* <a href="http://jasonku.scripts.mit.edu/">Jason Ku</a> 
* <a href="http://www.origami-artist.com">Paul Jackson</a>
<br />
<a href="http://www.origamido.com/">Michael LaFosse</a>
* <a href="http://blog.makezine.com/archive/2006/08/dr-jeannine-mosely-buildi.html">Jeannine Mosely</a>
* <a href="http://www.creased.com/soksong.html">Sok Song</a>
* <a href="http://www.zingman.com/origami/">John Szinger</a>
* <a href="http://www.flickr.com/photos/orangex3/3718545227/">Wensdy Whitehead</a>
</p>
<!--
<iframe width='923' height='550' frameborder='0' src='https://docs.google.com/spreadsheet/pub?key=0Ag3FWIzreqfXdFk3aS1ud2cxM2I2N0xhckIxVkRwV3c&output=html'></iframe>
-->
<a name="exhibition">
<h3>Exhibition</h3>
</a>
<p style="text-align:justify">
We will host a small origami exhibition at this convention combining models from OrigaMIT's permanent 
collection, as well as models brought by convention attendees. If you are bringing models to exhibit, 
we will be accepting models in W20-208 starting at 8:30am. We will allocate exhibition space 
based on a first come, first serve basis. Come set up early!
</p>
<a name="food">
<h3>Food and Festivities</h3>
</a>
<p style="text-align:justify">
Food is not included in the cost of registration. There are many dining options available in the MIT Student Center
(Subway, Dunkin' Donuts, Grill, Middle Eastern, Japanese, Convenience Store), but to help accommodate convention attendees, 
OrigaMIT will also be placing an order for both lunch and dinner on the morning of convention 
for food to be delivered to the convention location. If you would be interested in joining in our order,
please indicate your preference on your registration form and bring money to give us on the morning of
convention. 
Lunch will be pizza and $5 per person. Dinner will be Chinese food and $10. 
We may not be able to support all dietary restrictions, so please ask before ordering.
<!--
More details on cost closer to convention, but last year, we ordered lots of pizza for lunch 
at $6/person, and ordered Chinese food for dinner at $12/person. 
-->
Of course you are free to find or bring your own food!
</p>
<a name="vending">
<h3>Vending</h3>
</a>
<p style="text-align:justify">
At convention, there will be opportunity to purchase origami paper and books from 
<a href="http://www.origamido.com/">Origamido Studios</a>, a famous local paper making studio and origami shop. 
Additionally, OrigaMIT will be selling OrigaMIT <a href="#conv_book">convention books</a> (perhaps even a new one this year...), <a href="#tshirt">new t-shirts</a>, and other goodies. 
Please bring cash or Techcash if you are interested in making any purchases as we will not have access to a credit card machine.
</p>
<a name="conv_book">
<h3>Convention Books</h3>
</a>
<p style="text-align:justify"> 
OrigaMIT put together a small collection of origami diagrams for our first and third conventions in 2011 in 2013 respectively. 
This year we are happy to announce a new convention book for convention 2014!
<!-- Depending on if we can get enough submissions this year, we may put together a new 2014 OrigaMIT Convention Book, but we need to hear from you! 
More details about the book will be posted closer to the convention. 
Submissions for the convention book will be accepted at <a href="mailto:origamit-book@mit.edu">origamit-book@mit.edu</a> until Friday, Oct 17th at 5pm EDT, 
and we will announce soon after if we have received enough submissions to put together the book.
-->
You can see the cover and table of contents for the book <a href="convention/conv14/images/conv14_book.pdf">here</a>. 
This year's book is 98 pages long.
The new 2014 convention book will be available for the price of $15, while any old convention books still in stock will be sold for $10.
Note that we have printed only a limited number of copies. 
We will give preference to convention attendees, but will only have enough to sell one copy per attendee.
We may reprint the book again after this convention if there is a demand, so please <a href="mailto:origamit-book@mit.edu">let
us know</a> if you are not attending convention and are interested in purchasing one.
</p>
<p style="float:right;padding-left:25px">
<a href="convention/conv14/images/conv14_tshirt.pdf">
<img src="convention/conv14/images/conv14_tshirt2.jpg" width="250"></a>
</p>
<a name="tshirt">
<h3>T-Shirts</h3>
</a>
<p style="text-align:justify">
We have stylish new OrigaMIT Convention t-shirts, as well as shirts from last year! 
They will cost $15, but if you're a <i>current</i> MIT student, 
you can purchase one for a discounted price of $10. 
This year, we have opted <b>not</b> to purchase women's sizes, in favor of buying only unisex sizes. 
We have a limited supply, 
so let us know if you would like to purchase one at
convention, and we may order more! 
</p>
<a name="registration">
<h3>Registration</h3>
</a>
<!--
<p>
Registration will open on Oct. 1st, 2013.
</p>
-->
<!--
<p>
To register for the <i>Fourth</i> OrigaMIT convention, please fill out the following form:
</p>
<br />
<iframe src="https://docs.google.com/forms/d/1f6d1QMCIAW_G3zZMExPnkJ548u23vtAvLuMjmM2coko/viewform?embedded=true" width="610" height="1700" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
<br />
-->
<p>
<b>
Preregistration has ended. Regular registration is available on the morning of Nov. 8th at $30 per person. 
</b>
</p>
