<H2>Past Events</H2>
<hr>
<li>04-04-15 -- OrigaMIT Exhibit Opening: 13th Annual Student Design Competition
<li>03-14-15 -- OrigaMIT Exhibit Opening: Level 3 Menger Sponge
<li>01-17-15 -- Visiting Artist Talk by Vincent Floderer - 'A Biomimetic Talk to Folding Paper'
<li>11-08-14 -- <a href="/conv14.php">Fourth OrigaMIT Convention!</a>
<li>11-07-14 -- Visiting Artist Talk by Paul Jackson - 'Origami as a Natural Phenomenon'
<li>10-20-14 -- Building a Menger Sponge Fall Study Break
<li>09-05-14 -- Visiting Artist Talk by <a href='http://www.langorigami.com'>Dr. Robert Lang</a> - 'From Flapping Birds to Space Telescopes'
<li>04-30-14 -- Giant Pokeball Study Break (final product <a href="/gallery/year/2014/05/2014_05_11/Photo%20May%2011,%204%2031%2054%20PM.jpg">here</a>!)
<li>04-11-14 -- CPW Fold a Beaver Event
<li>03-17-14 -- Benefit Night @ wagamama Harvard's Square
<li>02-14-14 -- Valentine's Day Display @ wagamama
<li>12-09-13 -- Fold Your Own Holiday Tree Study Break
<li>11-28-13 -- MIT Thanksgiving Display Feature
<li>11-05-13 -- Fireworks Study Break
<li>10-19-13 -- <a href="/conv13.php">Third OrigaMIT Convention!</a>
<li>05-05-13 -- End of Semester Study Break
<li>04-13-13 -- CPW Fold a Beaver Event
<li>04-06-13 -- OrigaMIT Exhibit Opening: 12th Annual Student Design Competition
<li>03-11-13 -- Flour Cookies Study Break
<li>03-10-13 -- <a href="http://video.mit.edu/watch/origamit-mits-origami-club-13939/">MIT News Feature</a>
<li>01-03-13 -- OrigaMIT Newton Library Exhibit Opening
<li>12-11-12 -- OrigaMIT Exhibit Opening: Holiday Tree
<li>12-10-12 -- Holiday Tree Study Break
<li>10-27-12 -- <a href="/conv12.php">Second OrigaMIT Convention!</a>
<li>10-18-12 -- Fall Study Break
<li>10-14-12 -- Origami Paper 101 Presentation
<li>05-03-12 -- End of Term Study Break
<li>04-21-12 -- CPW Fold a Beaver Event
<li>03-11-12 -- OrigaMIT Exhibit Opening: 11th Annual Student Design Competition
<li>02-04-12 -- OrigaMIT Exhibit Opening at the Fuller Craft Museum
<li>11-19-11 -- <a href="/conv11.php">First OrigaMIT Convention!</a>
<li>11-13-11 -- OrigaMIT Special Seminar with Origamido Studios
<li>11-04-11 -- OrigaMIT Screening: Between the Folds
<li>10-28-11 -- OrigaMIT @ Nightmarket
<li>10-15-11 -- OrigaMIT Crane Booth
<li>04-30-11 -- OrigaMIT Exhibit Opening: Large T-Rex Skeleton
<li>04-09-11 -- CPW Workshop
<li>04-08-11 -- CPW Activities Midway
<li>03-14-11 -- OrigaMIT Exhibit Opening: Annual Student Design Competition
<li>02-14-11 -- OrigaMIT featured on the <a href="http://www.boston.com/news/local/massachusetts/articles/2011/02/14/at_mit_math_and_engineering_take_origami_to_new_dimensions/">front page</a> of the Boston Globe
<li>12-12-10 -- OrigaMIT Exhibit Opening: Life-size Triceratops
<li>11-08-10 -- OrigaMIT Crane Booth, (11/8-11/12)
<li>10-19-10 -- OrigaMIT Screening: Between the Folds
<li>05-16-10 -- OrigaMIT Workshop: Design Masterclass
<li>04-29-10 -- OrigaMIT Workshop @ the Cambridge Science Festival
<li>04-26-10 -- Special Guest Lecture with <a href='http://www.langorigami.com'>Dr. Robert Lang</a>: "Flapping Birds to Space Telescopes: The Modern Science of Origami"
<li>04-25-10 -- Special Guest Workshop with <a href='http://www.langorigami.com'>Dr. Robert Lang</a>: "Beyond Circle Packing: Origami Design with Semiregular Polygons"
<li>04-11-10 -- OrigaMIT Workshop: Intermediate Origami Design
<li>04-10-10 -- CPW Activities Midway
<li>04-08-10 -- CPW Festival Booth
<li>03-14-10 -- OrigaMIT Workshop: Design Masterclass
<li>03-07-10 -- OrigaMIT Workshop: Creasepattern Analysis
<li>03-01-10 -- OrigaMIT Event: Exhibit Opening and Awards Ceremony
<li>02-28-10 -- OrigaMIT Workshop: Introduction to Origami Design
<li>02-24-10 -- OrigaMIT Lecture: Japanese Lunch Table
<li>02-21-10 -- OrigaMIT Workshop: Intermediate Folding Techniques
<li>02-13-10 -- OrigaMIT Workshop: Beginning Folding Techniques
<li>12-09-09 -- OrigaMIT Lecture: Prof. Erik Demaine
<li>12-06-09 -- OrigaMIT Workshop: Tessellations
<li>12-01-09 -- OrigaMIT Special Seminar with Origamido Studios
<li>11-15-09 -- OrigaMIT Workshop: Creasepattern Analysis II
<li>10-25-09 -- OrigaMIT Workshop: Wet-Folding
<li>10-20-09 -- OrigaMIT Screening: Between the Folds
<li>10-17-09 -- OrigaMIT Workshop: Creasepattern Folding
<li>10-11-09 -- OrigaMIT Workshop: Creasepattern Analysis I
<li>10-11-09 -- OrigaMIT Trip: Origamido Papermaking
<li>10-04-09 -- OrigaMIT Workshop: Diagramming Conventions
<li>09-27-09 -- OrigaMIT Workshop: Introduction to Origami Design
<li>09-13-09 -- OrigaMIT Workshop: Beginning Folding Techniques
