<H2>Origami-related Links</H2>
<hr/>
<p><strong>General Links</strong></p>
	<UL>

	<LI> <A HREF="http://www.thekhans.me.uk/forum/">The Origami Forum</A> - a very active online 
community of folders and origami designers.

	<LI> <A HREF="http://www.langorigami.com/">Robert Lang's Origami Page</A> - one of the top origami 
artists and engineers of our time.

	<LI> <A HREF="http://www.origami.as/">Joseph Wu's Origami Page</A> - huge lists of links to other origami-related sites, beautiful photo galleries, and lots of good origami stuff.

	<LI> <A HREF="http://twitter.com/PassionOrigami">Nicolas Terry's Twitter</A> - the place to find 
information about recent updates to origami sites.

<LI><A HREF="http://www.origamidatabase.com">The Origami Database</A>
- a world-wide effort to collect information on origami models, with
over 40,000 records!
</ul>

<hr/>

<p><strong>Origami Organizations</strong></p>

<ul>
<li><a href="http://origamiusa.org/">OrigamiUSA</a> The national American origami organization.

<li><a href="http://origami.gr.jp/index-e.html">Tanteidan</a> The Japanese Origami Academic Society (JOAS).

</ul>

<hr/>

<p><strong>Origami Sources - Paper and Books</strong></p>

<ul>

<li><a href="http://origamiusa.org/catalog">The OrigamiUSA Source</a>

<li><a href="http://www.sasugabooks.com">Sasuga Japanese Bookstore</A>
- Can order any in-print book in Japanese; carries the Gallery Origami
House titles; has a wide range of origami paper.  Does business
mail-order over the web, with open hours at their warehouse on
Saturdays.  They hold an open "fold-in" session on the fourth Saturday
of each month except December.</li>

<li><a href="http://www.origamido.com">Origamido Studio</A> - in
Haverhill, MA, accessible by the T commuter rail.  Carries a selection
of origami books, many interesting commercial papers, and makes
wonderful handmade paper suitable for wetfolding.</li>

<li>Pearl Arts and Crafts - (Central Square, Cambridge) Carries a wide
range of art paper as well as some origami paper.  Good source for
Canson papers and watercolor paper, suitable for wetfolding.</li>

<li>Paper Source - (Porter Square, Cambridge) Carries a wide range of art papers and paper craft supplies, including glues for backcoating, etc.
</UL>
<hr>