<H2>OrigaMIT Members</H2>

<hr/>
<P><B>Faculty Advisor:</b><br>
<A HREF="http://theory.lcs.mit.edu/~edemaine/">Erik Demaine</A></P>

<hr/>
<P><b>Club Officers:</b><br>
President - <a href="http://www.flickr.com/photos/limitedcake/">Yongquan Lu</a>, Zi-Ning Choo<br/>
Graduate Advisor - <a href="http://jasonku.scripts.mit.edu/">Jason Ku</a><br/>
Treasurer - Wendy Trieu <br/>
Event Coordinator - Crystal Wang<br/>
Office Manager - Or Oppenheimer<br/>
Librarian - Or Oppenheimer<br/>
Publicity Chair - <a href="http://origamiexplosion.blogspot.com">Tracy Cheng</a><br />
Merchandise Chair - <a href="http://origamiexplosion.blogspot.com">Tracy Cheng</a><br />
Webmaster - <a href="http://www.flickr.com/photos/limitedcake/">Yongquan Lu</a><br />
Photographer - Wendy Trieu<br/>
Curator - Crystal Wang<br />
Historian - <a href="http://www.flickr.com/photos/limitedcake/">Yongquan Lu</a>
</p>
<hr/>
<P><b>Former Members:</b><br>
Sara Goheen <br />
Jon Allen <br />
<a href="http://www.michellefung.net/">Michelle Fung</a><br />
Emma Feshbach <br />
<a href="http://chosetec.darkclan.net/origami/">Brian Chan</a><br>
<a href="http://www.giladorigami.com/">Gilad Aharoni</a><br>
<a href="http://web.mit.edu/lavin/www/">Anne Lavin</a><br>
<A HREF="http://web.mit.edu/hawksley/www/">Andrea Hawksley</A><br/>
Aviv Ovadya<br/>
Annie Huang<br/>
Yanping Chen<br />
</P>
<hr/>