<H2>Press</H2>
<p>Some of our past projects have been covered by the media. Read about them below!</p><hr>
</p>
<h4>Menger Sponge Construction</h4>
<p>In Mar 2015, we constructed one face of a Level 3 Menger Sponge as part of the MegaMenger project. This sculpture incorporates over 25,000 business cards and was built with the help of over 20 club members. It was displayed on the ground floor of the Stata Center between Mar - May 2015.<p>

<p>Check out this amazing clip by MIT News covering the project:</p>
<iframe width="560" height="315" src="//www.youtube.com/embed/YpmP8OJJ7W4" frameborder="0" allowfullscreen></iframe>

<p>The project was also picked up by <a href="http://gizmodo.com/using-origami-to-make-a-shape-with-no-volume-and-infini-1692630534">Gizmodo</a> and <a href="https://slice.mit.edu/2015/04/02/what-has-zero-volume-but-infinite-surface-area/">Slice of MIT</a>.</p>
<hr>
<h4>OrigaMIT Convention 2014</h4>
<p>We held our 4th Annual OrigaMIT Convention in Nov 2014, which had an incredible turnout of over 200 people. We were thrilled to see the convention (and the local folding community) reported in <a href="http://www.bostonglobe.com/metro/2014/11/09/origamit-convention-features-vibrant-folding-community/BWgmCpb8G3qR84Ux2vGjSI/story.html">the Boston Globe</a>!
<hr>
<h4>Valentine's Day Display</h4>
<p>Over January 2014, our students folded various love-themed models in a very exciting collaboration with the restaurant chain <a href="http://www.wagamama.us">wagamama usa</a>. The models were displayed in their four restaurants and have been publicized on their social media channels:</p>

<p>
<img src="/images/waga_1.png" width=400><br>
</p>
<p>
<img src="/images/waga_2.png" width=400><br>
</p>

<p>The project was also been picked up for coverage by <a href="http://www.boston.com/news/science/blogs/science-in-mind/2014/02/10/origami-valentine/2g3rqxQsmhBN5zgYfPZHkO/blog.html">Boston.com</a> and <a href="http://bostinno.streetwise.co/2014/02/07/valentines-day-origami-origamit-and-wagamama-partnership-1/">BostInno</a>. A big thank you to everyone who contributed: Mark Tompkins, Sara Goheen, Tracy Cheng, Jonathan Tidor, Elton Zhou, Ishara Nisley and YQ Lu.</p>
<hr>
<h4>Thanksgiving Display 2013</h4>
<p>The MIT News team approached us to fold a seasonal display to be featured on the front page of MIT's website over Thanksgiving break. Our club members were happy to oblige and produced a veritable collection of maple leaves, turkeys, pumpkins, pinecones and more.</p>
<p>The story was picked up by <a href="http://www.wired.com/design/2013/11/a-thanksgiving-scene-made-entirely-out-of-folded-paper/">Wired</a>, the <a href="http://www.boston.com/news/science/blogs/science-in-mind/2013/11/25/mit-thanksgiving/pwRj0z7PLzxSD91wdzVolJ/blog.html">Boston Globe</a>, <a href="http://www.cnn.com/2013/11/28/tech/gallery/origami-geeks-mit-thanksgiving/index.html">CNN</a>, <a href="http://bostinno.streetwise.co/2013/11/22/mits-origami-club-__-festive-for-thanksgiving/">Bostinno</a>, <a href="http://www.bostonmagazine.com/arts-entertainment/blog/2013/11/22/mit-origamit-origami-thanksgiving/">Boston Magazine</a>, and <a href="http://alum.mit.edu/pages/sliceofmit/2013/11/28/origamit-thanksgiving/"> MIT's Alumni Association</a>.</p>
<hr>
<h4>Club Spotlight</h4>
<p>
MIT News did a spotlight on us in 2013! Check out the video below for a beautiful introduction to the club and the origami we explore together every Sunday.</p>
<p><iframe width="560" height="315" src="//www.youtube.com/embed/C-2Tt4g5Dw0" frameborder="0" allowfullscreen></iframe></p>