<img src="/images/beaver.jpg" width="100%"><br><br>
<img src="/images/chan-mens.jpg" width="100%"><br><br>
<FONT SIZE="-1">The OrigaMIT logo is a stylicization of Typeset, an origami font designed by <a href="http://scripts.mit.edu/~jasonku/">Jason Ku</a> '09. Top photo depicts <i>Tim the Beaver V2</i> by <a href="http://www.michellefung.net/">Michelle Fung</a> '13. Photo depicts <I>Mens et Manus II</I>, copyright 2007 <a href="http://chosetec.darkclan.net/origami/">Brian Chan</a> '02.